
body{
    background-color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: black;
    width: 100%;
    position: fixed;
    margin: 0px;
}
header{
   color: black;
   font-size: inherit;
   }
   .header{
       position: relative;
       margin: auto;
       width: 70%;
       left: 0px;
       z-index: 1;
   }
.op-div{
   color: black;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   overflow: hidden;
   } 
   .op-logo{
       font-weight: bolder;
       font-size: larger;
       font-size: 30px;
   }
.op-ul nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 18px;
    padding-right: 10px;
}

.op-ul nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
a{
    transition: 0.5s;
}
.op-ul nav ul li a:hover{
    text-decoration: underline;
    color: pink;
}
main{
    /* position: absolute; */
    top: 1px;
    }
    .bo-div{
        background-color: rgba(172, 172, 172, 0.398); 
        position: relative;
        align-items: center;  
        padding: 10px;
        height: 500px;
        margin: auto;
        width: 70%;
    }
#intro{
    font-size: 50px;
    text-transform: capitalize;
    line-height: 100px;
}
.description{
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 80px;
    height: 30%;
    top: 0px;
    padding: 20px;
    }
.numero{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;    
    }
.numero ul{
    top: 100px;
    max-width: 100%;
    margin: 0 auto;
    max-width: 100%;
list-style: none;
    
}
.numero li{
    display: inline-block;
    width: 40%;
    line-height: 50px;
    font-size: 30px;
}
.desc-ano{
    position: absolute;
    top: 500px;
    right: 161px;
    background-color: rgb(35, 43, 43);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 30px;
    width: 350px;
    margin: auto;
    text-align: left;
    align-items: center;
    padding: 15px 50px 15px 30px;
}