
body{
    background-color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: black;
    width: 100%;
    position: fixed;
    margin: 0px;
}
header{
   color: black;
   font-size: inherit;
   }
   .header{
       position: relative;
       width: 100%;
       
       left: 0px;
       z-index: 1;
   }
.op-div{
     color: black;
     display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   overflow: hidden;
   } 
.op-ul nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 18px;
    padding-right: 10px;
}

.op-ul nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
a{
    transition: 0.5s;
}
.op-ul nav ul li a:hover{
    text-decoration: underline;
    color: pink;
}
main{
    /* position: absolute; */
    top: 1px;
    }
    .bo-div{
        background-color: rgba(172, 172, 172, 0.398); 
        align-items: center;  
        padding: 50px;
        
    }
#intro{
    font-size: 50px;
    text-transform: capitalize;
}
.description{
    display: flex;
    justify-content: space-around;
    line-height: 80px;
}
.numero{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    left: 0px;
}